body {
    margin: 0;
    background: black;
    overflow: hidden;
    font-family: sans-serif;
    color: white;
}

#controls {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 10;
    padding: 10px;
    border-radius: 6px;
}

textarea {
    width: 300px;
    height: 80px;
}

button {
    margin-top: 6px;
    width: 120px;
    padding: 6px;
}

canvas {
    width: 100vw;
    height: 100vh;
}
