body {
    margin: 0;
    background: rgb(0, 0, 0);
    overflow: hidden;
    font-family: sans-serif;
    color: white;
}

#controls {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 10;
    padding: 10px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

textarea {
    width: 300px;
    height: 300px;
}

button {
    margin-top: 6px;
    width: 120px;
    padding: 6px;
}

canvas {
    width: 100vw;
    height: 100vh;
}